.Board {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
  width: 600px;
  height: 600px;
  border-width: 25px;
  border-style: solid;
  border-color: slategray;
  margin: 10px;
}

.Message {
  margin-top: 25px;
}

p {
  height: 30px;
  margin: 5px;
  font-size: 20px;
}

.Buttons button {
  margin: 10px;
  width: 120px;
  height: 35px;
  font-size: 20px;
  background: ghostwhite;
}

html, body {
  background: lightsteelblue;
  min-height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
